body{
	margin: 0;
}

td, th {
	text-align: center;
}

img {
	width: 50px;
	height: 50px;
}

div {
	height: 2%;
	width: 100%;
	background-color: red;
}

.input {
	width: 30%;
	float: right;
	margin-top: 2%;
	margin-bottom: 3%;
	margin-right: 10%;
}

th, td {
	border: 1px solid white;
	background-color: rgb(255,51,51);
}

table {
	border: 2px solid black;
	border-collapse: collapse;
	width: 75%;
}

tbody {
	margin-bottom: 10%;
}

a {
	color: black;
	text-decoration: none;
}